html{

}
body{
	background:url('../images/1.jpg') no-repeat center center;
    background-size:cover;
    min-height:100%;
    margin-right: 15px;
}
#show {
	margin-top: 100px;
	padding: 70px 0;
	background-color: #000;
	-moz-border-radius: 15px;
	border-radius: 15px;
	opacity: 0.75;
}
#kana, #romaji {
	color: #fff;
	text-align: center;
}
#kana {
	font-size: 100px;
}
#romaji {
	font-size: 30px;
}
.answer {
	width: 12%;
	margin: 0 auto;
}
.wrong-answer {
	color: #a94442;
}
.refresh-bg {
	background: #000;
	padding: 0;
	margin: 0;
	width: 40px;
	height: 50px;
}
.glyphicon-refresh {
	color: #fff;
	font-size: 30px;
	cursor: pointer;
	margin: 15px 0 0 4px;
}
.glyphicon-refresh:hover {
	-webkit-transform-origin: 50% 50%;
	transform-origin:50% 50%;
	-ms-transform-origin:50% 50%; /* IE 9 */
	-webkit-animation: spin 1s infinite linear;
	-moz-animation: spin 1s infinite linear;
	-o-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.glyphicon {
	top: 0;
}
.sidebar-offcanvas {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;	
}
#off-canvas-button {
	z-index: 9999;
}
#off-canvas-button .btn{
	background-color: #000;
	border-color: #333;
}
.glyphicon-th{
	color: #fff;
	font-size: 20px;
}
#off-canvas-menu {
	position: absolute;
	top: 0;
	right: 0;
	background: #000;
	padding-left: 50px;
	opacity: 0.8;
	color: #fff;
}
#off-canvas-menu {
  height:100%;
}
 
#off-canvas-menu {
  float:left;
  height: 100% !important;
  width: auto;
}
 
#off-canvas-menu .collapse.height {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
 
#off-canvas-menu .collapse.width {
  position: relative;
  width: 50px;
  overflow: hidden;
  -webkit-transition: width 0.35s ease;
  -moz-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  transition: width 0.35s ease;
}
 
#off-canvas-menu .collapse.in.width {
  width: auto;
}
 
#off-canvas-menu .collapse.in.height {
  height: auto;
}
 
#off-canvas-menu .collapse-inner {
  position: relative;
  width: 250px;
  height: 100%;
}
.kana-form {
	float: left;
}
h3.off-canvas-menu {
	font-size: 19px;
}
label.sound {
	position: relative;
	left: -36px;
}
.footer {
	color: #fff;
	position: absolute;
	bottom: 10px;
	right: 20px;
	background: #000;
	opacity: 0.8;
	border-radius: 3px;
	padding: 2px 5px;
}